<input [(ngModel)]= value type="text">
<br>
<button (click)="satu()">1</button>
<button (click)="dua()">2</button>
<button (click)="tiga()">3</button>
<br>
<button (click)="empat()">4</button>
<button (click)="lima()">5</button>
<button (click)="enam()">6</button>
<br>
<button (click)="tujuh()">7</button>
<button (click)="delapan()">8</button>
<button (click)="sembilan()">9</button>
<br>
<button (click)="tambah()">+</button>
<button (click)="kurang()">-</button>
<button (click)="kali()">*</button>